:root {
  --brend-color: #2f1059;
}
/* zeroing CSS start */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; 
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }
/* zeroing CSS end */
body {
    font-family: 'Roboto Slab', sans-serif;
    width: 1920px;
}
#wrapper {
  display: block;
  position: relative;
}
/*start header*/
header {
  display: block;
}
.layout {
  width: 1230px;
  display: block;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: Table;
  width: 100%;
  clear: both;
}
.logo__top {
  float: left;
  margin-right: 52px;
  margin-left: 30px;
}
.logo__top img {
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 17.5px;
}
.logo__top__title {
  float: left;
  margin-top: 28px;
}
.logo__top__title__house {
  font-size: 16px;
  line-height: 1.27;
  letter-spacing: 0px;
  font-weight: 400;
}

.logo__top__title__district {
  font-size: 13px;
  font-weight: 300;
}
nav {
  float: left;
  margin-top: 35px;
}
nav ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
  letter-spacing: 0.2px;
}
nav ul li:first-child {
  margin-right: 19px;
}
nav ul li:last-child {
  margin-right: 0px;
}
nav ul li a {
  color: #000000;
}
.phone__top {
  float: right;
  margin-top: 9px;
  color: var(--brend-color);
}
.phone__top__number {
  font-size: 21px;
  font-weight: bold;
}
.phone__top__request {
  width: 155px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid #2f1059;
  border-radius: 3px;
  margin-left: 22px;
  margin-top: 4px;
  background-image: url(/img/ico-phone.png);
  background-repeat: no-repeat;
  background-position-x: -19px;
  background-position-y: -19px;
}
.phone__top__request a {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-top: 7px;
  margin-left: 30px;
  color: var(--brend-color);
}
/*end header*/

/*start main*/
#top {
  background-image:url(/img/House.png);
  background-position-y: -10px;
  background-repeat: no-repeat;
}
.top__cloud {
  background-image:url(/img/cloud.png);
  background-repeat: no-repeat;
  background-position-y: 31px;
  background-position-x: 78px;
  padding-bottom: 230px;
}
.top__cloud__title {
  margin-left: 25px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  padding-top: 71px;
  color: var(--brend-color);
}

.title__span {
  font-weight: bold;
}
h1 {
  font-size: 43px;
  margin-left: 135px;
  margin-top: 12px;
  font-weight: bold;
  letter-spacing: 0.75px;
  color: var(--brend-color);
}
.top__cloud__subtitle {
  font-size: 20px;
  font-weight: 300;
  color: var(--brend-color);
  margin-left: 30px;
  text-align: center;
  line-height: 1;
}
.top__sign__up {
  background-image: url(/img/middle-banner.png);
  background-repeat: no-repeat;
  background-position-y: -63px;
  margin-left: 156px;
  padding-bottom: 60px;
}
.top__sign__up__top__title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 191px;
  padding-top: 34px;
  color: #fbfafa;
}
.top__sign__up__subtitle {
  font-size: 17px;
  font-weight: 300;
  margin-left: 230px;
  color: #fbfafa;
}
form {
  margin-left: 110px;
  padding-top: 20px;
}
form input {
  width: 201px;
  height: 52px;
  margin-right: 4px;
  border-radius: 5px;
  box-sizing: border-box;
}
.icomen {
  background-image:url(/img/ico-men.png);
  background-repeat:no-repeat;
  background-position-y: 15px;
  background-position-x: 24px;
  padding-left: 46px;
}
.icomen::placeholder {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.5px;
}
.icophone {
  background-image:url(/img/ico-phone2.png);
  background-repeat:no-repeat;
  background-position-x: 23px;
  background-position-y: 16px;
  padding-left: 46px;
}
.icophone::placeholder {
  font-size: 16px;
  font-weight: 300;
  
}
  form a {
  font-size: 17px;
  font-weight: bold;
  width: 273px;
  display: inline-block;
  padding-bottom: 18px;
  padding-top: 12px;
  background-color: #d22828;
  border-radius: 5px;
  text-align: center;
  color: #ffff;
}
.top__sign__up__bottom__title {
  font-size: 15.3px;
  font-weight: 300;
  margin-left: 335px;
  margin-top: 38px;
  word-spacing: 1px;
  color: #7925ec;
}
.top__sign__up__span {
  width: 28px;
  height: 28px;
  box-sizing:border-box;
  border: 1px solid #7925ec;
  display: inline-block;
  text-align: center;
  font-size: 20.7px;
  font-weight: bold;
  color: #7925ec;
}
.top__list {
  position: relative;
  margin-bottom: 15px;
}
.top__list__one,
.top__list__two,
.top__list__three,
.top__list__four,
.top__list__five,
.top__list__six {
  background-image:url(/img/middle-circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  width: 153px;
  height: 146px;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}
.top__list__bold {
  font-weight: bold;
}

.top__list__one {
  margin-left: 38px;
  margin-top: 123px;
}
.top__list__one p {
  padding-top: 55px;
  padding-left: 5px;
  line-height: 20px;
}
.top__list__two {
  margin-left: 50px;
  margin-top: 55px;
}
.top__list__two p {
  padding-top: 56px;
  padding-left: 12px;
  line-height: 20px;
}
.top__list__three {
  margin-left: 45px;
  margin-top: 3px;
}
.top__list__three p {
  padding-top: 50px;
  padding-left: 10px;
  word-spacing: 30px;
  line-height: 20px;
}
.top__list__four {
  margin-left: 50px;
  margin-top: 3px;
}
.top__list__four p {
  padding-top: 42px;
  padding-left: 7px;
  line-height: 20px;
}
.top__list__four__bag {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 17px;
  font-weight: 100;
}
.top__list__five {
  margin-left: 45px;
  margin-top: 55px;
}
.top__list__five p {
  padding-top: 44px;
  padding-left: 11px;
  line-height: 20px;
  font-weight: bold;
}
.top__list__bold__bag {
  padding-right: 3px;
}
.top__list__six {
  margin-top: 132px;
  margin-left: 40px;
}

.design__bag {
  font-size: 15px;
  padding-left: 9px;
}
.top__list__six__title {
  padding-top: 41px;
  font-size: 17px;
  font-weight: bold;
  padding-left: 11px;
}
.top__list__six__subtitle {
  font-size: 15px;
  font-weight: bold;
  padding-left: 8px;
}
.top__list__six__text {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 17px;
  font-weight: 100;
  padding-left: 10px;
}
.top__end {
  background-image:url(/img/middle-wave-violet.png);
  background-repeat:no-repeat;
  background-size: 100%;
  height: 200px;
  position: relative;
}
.top__end__title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-right: 17px;
  padding-top: 37px;
}
.top__end__deadline {
  background-image: url(/img/flag.png);
  background-repeat: no-repeat;
  background-position-y: 6px;
  background-position-x: 794px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin-right: 30px;
  margin-top: 8px;
  text-align: center;
}
.top__end img {
  margin-left: 892px;
  margin-top: 7px;
}
.top__end__insurance {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 165px;
  height: 130px;
  border: 2px solid black;
  border-radius: 50%;
}