@font-face {
    font-family: 'adelle_cyrilliclight';
    src: url('adellecyrillic-light-webfont.woff2') format('woff2'),
         url('adellecyrillic-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
